#dialog{
  display: block;
  background-color: #cfe8e8;
  min-width: 45vh;
  text-align: center;
}
#dialog>div{
  margin: 10%;
}
a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #003d3d;
  cursor: pointer;
  font-size: large;
  &:hover{
    color: white;
  }
}
button {
  background-color: cadetblue;
  padding:  4% 10%;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: cadetblue 3px 3px 7px;
  font-weight: bolder;
  color: white;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: cadetblue 0 0 5px;
  }
}
